*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    height: 2500px;
    background-image: url(crime\ scene.jpeg);
    background-size: cover;
    background-position: top center;
    height: 700px;
    color: #fff;
    background-color: rgba(179, 178, 178, 0.376);
    backdrop-filter: blur(10px);
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(179, 178, 178, 0.221);
}


.batyrma{
    display: flex;
    column-gap: 250px;


}

.batyrmalar{
    text-decoration: none;
    font-weight: 600px;
    color: gold;
    
}



header{
    width: 100%; 
}
